<footer class="bg-dark text-light mt-5">
  <div class="container py-4">

    <div class="row">
      <div class="col-md-4">
        <h6>Supermarket App</h6>
        <p class="small">C372 Supermarket Web Application</p>
      </div>

      <div class="col-md-4 text-center">
        <h6>Quick Links</h6>
        <a href="/shopping" class="text-light small d-block">Shop</a>
        <a href="/cart" class="text-light small d-block">Cart</a>
        <a href="/feedback" class="text-light small d-block">Feedback</a>
      </div>


    <p class="text-center small mb-0">
      © <%= new Date().getFullYear() %> Supermarket App
    </p>

  </div>
</footer>
